<%-include('header')%>

<body class="container mt-5">
    <h2 class="mb-4">Welcome to my app!!!</h2>
    
    <div class="mb-3">
        <a href="/signup" style="text-decoration: none;">
            <button class="btn btn-primary">Sign Up</button>
        </a>
    </div>
    
    <div class="mb-3">
        <a href="/login" style="text-decoration: none;">
            <button class="btn btn-primary">Log in</button>
        </a>
    </div>
</body>

<%-include('footer')%>