<%-include('header')%>

<body class="container mt-5">
    <h2 class="mb-4">Welcome <%= username %></h2>
    <a href="/members" class="btn btn-primary text-white">Members</a>
    <a href="/logout" class="btn btn-secondary text-white">Logout</a>
</body>

<%-include('footer')%>